
@{
    ViewBag.Title = "HanteraKonton";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Hantera Konton</h2>

@Html.ActionLink("Registrera ny användare", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })
<p >@Html.ActionLink("Visa alla Användare", "VisaAnvandare", "HanteraKonton")</p>
@if (TempData["Success"] != null)
{
    <div class="green">
        <p><strong>Success:</strong> @TempData["Success"].ToString()</p>
    </div>
}

