
@{
    ViewBag.Title = "HanteraKonton";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Hantera Konton</h2>

<li>@Html.ActionLink("Registrera", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
<li>@Html.ActionLink("Visa Användare", "VisaAnvandare", "HanteraKonton")</li>
@if (TempData["Success"] != null)
{
    <div class="green">
        <p style="color:greenyellow"><strong>Success:</strong> @TempData["Success"].ToString()</p>
    </div>
}
